body{
	margin: 0px;
	padding: 0px;
}

.footer{
          /*width: auto;*/
          padding-top: 20px;
          height: 100px;
          font-family: verdana;
          text-align: center;
          color: #fff;
          background: #000;
        }

